{{dialog-one id="d-one"}}
{{dialog-two id="d-two"}}
{{dialog-three id="d-three"}}

<button {{action (dialog '#d-one')}}>Open Diag One</button>
<button {{action (dialog '#d-two')}}>Open Diag Two</button>
<button {{action (dialog '#d-three')}}>Open Diag Three</button>